
/* prevents zoom in textare */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

.x-cards {
    padding: 10px 5px;
    background: #efefef;
}
#pros { background: #f3f9ef; }
#cons { background: #f9f2ef; }

.x-card {
    margin: 0 5px 10px;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 10px;
    background: #fff;
}
.x-card.active {
    border-color: green;
    box-shadow: 0 0 10px #555;
}


#mergeCardsBtn {
    margin-top: 7px;
    display: none;
}
