
/* prevents zoom in textare */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}


.x-card {}

.x-card-delete {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

.x-card:hover .x-card-delete {
    display: block;
}

.x-card.active:hover .x-card-delete {
    display: none;
}

#mergeCardsBtn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: none;
}
